/* === General elements and styling === */
body {
    background: #eee;
    margin: 0;
    font-family: 'Droid Serif', serif;
    padding: 10px 10px 30px 10px;
}

/* === Styling directly on graph, slider and map === */
section {
    position: relative;
    padding-left: 200px;
    padding-right: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

#areachart, #input, #map {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#currentyear{
    width:50px;
    outline:0;
    border:0;
    border-bottom:1px solid #eee;
}

#input {
    height: 30px;
    margin: 30px 0;
    padding: 10px 20px 10px 50px;
}

#input #timeslider {
    width: 100%;
    background: transparent;
}

g.countries path {
    cursor: pointer;
}

.attackicon {
    cursor: pointer;
    z-index: 99;
}


/* === Styling for the surrounding nav blocks === */
nav {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #fff;
    position: fixed;
    border-radius: 4px;
    z-index: 10;
}

nav div {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

nav img {
    margin: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 5px;
    border-radius: 25%;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 44px;
    height: 30px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}

nav div p {
    display: none;
    font-size: 10px;
    position: absolute;
    transition: all 0.4s ease-in-out;
    padding: 10px;
    opacity: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #fff;
    z-index: -1;
}

nav div:hover p {
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    right: 98%;
}

nav#infocontainer {
    width: 160px;
    padding: 10px;
    left: 10px;
    top: 10px;
    max-height: 90vh;
    overflow-y: auto;
}

nav#infocontainer div{
    padding:10px 0;
    border-top: 1px solid #eee;
}

#infocontainer span {
    display: block;
    font-size: 15px;
    margin: 8px 0;
}

nav h3 {
    margin: 0;
}

#playbutton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: all 0.4s ease-in-out;
    background: #fff;
    margin-top: 10px;
}

#playbutton #play {
    display: block;
}

#playbutton #stop {
    display: none;
}

#playbutton.active {
    background: #90a4ae;
}

#playbutton.active #play {
    display: none;
}

#playbutton.active #stop {
    display: block;
}

nav #spinner{
    display:block;
    margin: 0 auto;
}

#map_methods {
    right: 10px;
    top: 10px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 44px;
    height: 30px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}

#bg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
}